<div class="divider"></div>
<div class="row container">
    <div class="col">
        <h5> Make Comment: </h5>
    </div>
    <form class="col s4 blue-grey lighten-4" id="commentForm">
        <div class="row">
            <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                <input placeholder="Comment" id="newComment" type="text" class="validate">
                <label for="Comment">Comment</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Submit
            </button>
            </form>
        </div>
</div>

