<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Repair Revolution</title>
        <link rel="stylesheet" href="/css/materialize.css">
    </head>

    <body>
        <header class="display-flex justify-space-between align-center p-2">
            <h1>
                Repair Revolution
            </h1>
            {{!-- INSERT NAVBAR HERE --}}
            {{!-- we want a navbar to display and link in seperate handlebars file--}}

            {{!-- ABOUT SECTION HERE --}}
            {{!-- ABOUT section here that will be displayed on all pages --}}
        </header>
            {{>navbar}}
        {{{ body }}}

    </body>


</html>