<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Repair Revolution</title>
        <link rel="stylesheet" href="/css/materialize.css">
        {{!-- <link rel="stylesheet" href="/css/style.css"> --}}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@200;500&family=Source+Code+Pro&display=swap" rel="stylesheet">   <div class="divider"></div>
    </head>
        <header class="display-flex justify-space-between align-center p-2">
            <h1>
                Repair Revolution
            </h1>

        </header>
        {{>navbar}}
        {{{ body }}}

    <script src="/js/materialize.js"></script>
    {{!-- <script src="/js/logout.js"></script> --}}


    </body>


</html>