<div class="divider"></div>
<div class="row container">
    <div class="col">
        <h1> Create Discussion: </h1>
    </div>
    <form class="col s4 login-form blue-grey lighten-4">
        <div class="row">
            <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                <input placeholder=" " id="topic" type="text" class="validate">
                <label for="topic">Topic</label>
                </div>
                <div class="input-field col s6">
                <input id="title" type="text" class="validate">
                <label for="title"> Title: </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="desciprtion" class="materialize-textarea"></textarea>
                    <label for="desciprtion"> Description </label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action" id="subitBtn">
                Submit
            </button>
            </form>
        </div>
</div>

<script src="/js/add-blog-post.js"></script>
