<h3 class="center-align">About this blog:</h3>
<p class="center container blue-grey lighten-4 flow-text">WRITE IN DESCRIPTION OF REPAIR BLOG HERE</p>
<div class="container">
{{#each blogPosts as |blogPost| }}
{{> blog_post}}
{{/each}}
</div>