<h3 class="center-align">About this blog:</h3>
<p class="center container blue-grey lighten-4 flow-text">We are here to help you connect with people who want to figure out how to repair their own devices!  We all have a right to repair!</p>
<div class="container">
{{#each blogPosts as |blogPost| }}
{{> blog_post}}
{{/each}}
</div>