<div class="divider"></div>
<div class="row"></div>
<div class="row container">
  <form class="card purple lighten-1 col s4 login-form ">

    <div class="row">
      <h2>Login</h2>
      <div class="input-field col s12">
        <input placeholder="Email" type="email" class="validate" id="email-login">
        <label for="email">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input placeholder="password" type="password" class="validate" id="password-login">
        <label for="password">Password</label>
      </div>
    </div>
      <button class="btn waves-effect waves-light right " type="submit" name="action">Submit</button>
  </form>

<div class="col s1"></div>

  <form class="col s4 new-user-form card-horizontal blue-grey lighten-4">

    <div class="row">
      <h3>New Users Sign up here</h3>
      <div class="input-field col s12">
        <input placeholder="UserName" id="username-signup" type="text" class="validate">
        <label for="first_name">User Name</label>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Email" id="email-signup" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input placeholder="password" id="password-signup" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light right" type="submit" name="action">Submit</button>
  </form>
</div>


<script src="/js/login.js"></script>