  <div class="row "> 
    <div class=" col s12 m4">
      <div class="card purple lighten-1 ">
        <div class="card-content">
            <div class="row">         
                <div class="center white-text col s12">
                <h3>Join the Community.</h3>
                </div>
            </div>
            <div class="row">         
                <div class="input-field white-text col s12">
                <input placeholder="Username" id="first_name" type="text" class="validate">
                <label for="first_name"></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field white-text col s12">
                <input placeholder="Password"id="password" type="password" class="validate">
                <label for="password"></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field white-text col s12">
                <input placeholder="Email" id="email" type="email" class="validate">
                <label for="email"></label>
                </div>
            </div>
            <div>
                <div class="row s12 card-action center">
                    <button class="btn clear-10">Create Account</button>    
                </div>
                <footer class="card-action row footer center">
                    <a href="#" class="card-action center">Already have an account? Log In.</a>
                </footer>
            </div>
        </div>    
      </div>
    </div>

    <div class="row ">
        <div class=" col s12 m3">
          <div class="card purple lighten-1 ">
            <div class="card-content">
                <div class="row">
                    <div class="center white-text col s12">
                        <h4>Your Account For All your Fixing Needs.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field white-text col s12">
                    <input placeholder="Username" id="first_name" type="text" class="validate">
                    <label for="first_name"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field white-text col s12">
                    <input placeholder="Password"id="password" type="password" class="validate">
                    <label for="password"></label>
                    </div>
                </div>
                <div class="card-action center">
                    <button class="btn">Log In</button>
                </div>
                <footer class="card-action row footer center">
                    <a href="#">Not a Member? Join us.</a>
                </footer>
            </div>    
          </div>
        </div>
  </div>
 
