    <div class= "container">
        <div class="col"> 
            <h1> Topics: </h1>
            <div class ="row">
                <a class="waves-effect waves-light btn-large" id="topicsBtn">Apple</a>
                <a class="waves-effect waves-light btn-large" id="topicsBtn">PC</a>
                <a class="waves-effect waves-light btn-large" id="topicsBtn">HTML</a>
                <a class="waves-effect waves-light btn-large" id="topicsBtn">Javascript</a>
                <a class="waves-effect waves-light btn-large" id="topicsBtn">CSS</a>
            </div>
        </div>
        <hr>
        <div class ="col">
            <h4> New Discussions: </h4>
            <div class ="col">
                <!-- insert discussion snippet -->
            </div>
        </div>

    </div>